header {
    margin-bottom: 30px;
}

header h2 {
    margin: 0;
    padding: 5px 4%;
    font-size: 18px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #626262;
    color: white;
    border-bottom: 1px solid #3e897b;
    z-index: 1;
}

.success{
    background: #5da25d;
}
.main-cont {
    display: flex;

}

.main-cont .dashboard {
    width: 20%;
    background: #626262;
    height: 100vh;
}

.main-cont .dashboard ul {
    list-style: none;
    position: fixed;
    height: 100%;
    left: 0;
    width: 20%;
    background: #626262;
    height: 100vh;
}

.main-cont .dashboard ul li {
    margin: 20px 0;
}

.main-cont .main {
    width: 80%
}

.main-cont .main h3 {
    margin: 0;
    padding: 20px;
}

.main-cont .main ul {
    list-style: none;
    border: 1px solid black;
    padding: 0;
    margin: 10px 30px;
}

.main-cont .main ul li {
    display: flex;
    border-bottom: 1px solid black;
}

.main-cont .main ul li p {
    margin: 0;
    padding: 10px 0;
    margin-left: 1%;
}

.main-cont .main ul li .no {
    width: 5%;
    border-right: 1px solid black;
}

.main-cont .main ul li .name {
    width: 15% !important;
    border-right: 1px solid black;
}

.main-cont .main ul li .hubs {
    width: 10% !important;
    border-right: 1px solid black;
}

.main-cont .main ul li .pro {
    width: 10% !important;
    border-right: 1px solid black;
}

.main-cont .main ul li .content {
    width: 30% !important;
    border-right: 1px solid black;
}

.main-cont .main ul li .status {
    width: 10% !important;
    border-right: 1px solid black;
}

.main-cont .main ul li .range {
    width: 10% !important;
    border-right: 1px solid black;
}

.main-cont .main ul li .delete {
    width: 10%;
}

.main-cont form {
    margin: 20px 30px;
}

/* the task style */
.main .taskhub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .search {
    margin-right: 60px;
}

.main .search input {
    border-radius: 5px;
}

.main .search i {
    margin-left: 5px;
}

.main .tasks form div {
    margin-left: 30px;
}

.main .addTask {
    position: fixed;
    bottom: 0;
    background: #626262;
    width: 100%;
}

.main .addTask h2 {
    color: white;
}

.main .addTask form {
    display: flex;
    color: black;
}

.main .addTask form div {
    display: flex;
    align-items: flex-start;
    margin-right: 20px;
}

.main .addTask form div input,
textarea {
    margin-left: 10px;
    background: #626262;
    border: 1px solid black
}

/* the timer style sheet */
.task{
    margin: 10px 30px;
}
.timer_cont{
    width: 50%;
}
.timer {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center
}

.buttons {
    text-align: center
}

.restartCont {
    display: flex;
    justify-content: center;
    margin: 20px;
}
].main .progress_form{
    display: flex;
}
.main .progress_form input{
    display: none;
}
