body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    justify-content: center
}
body *{
    box-sizing:;
    padding: 0;
    margin: 0;
}

header{
    padding: 10px;
    padding-left: 10%;;
    background:#53bec7;
    
}
header h1{
    padding-top: 20px;
    text-align: center;
    background: #bababa;
    padding: 0;
}
.projects h3{
    padding-top:20px ;
    
}
.projects ul{
    list-style: none;
    margin: 10px;
}
.projects ul li{
    padding: 10px ;
}
.projects form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projects form div{
    width:100%;
    margin: 10px;
    display: flex;
}
.projects form div label{
    width: 30%;
}
.projects form div input{
    width: 60%;
}
.projects form div textarea{
    width:60%;
}


.main h3{
    padding: 10px
}
.timer_cont{
    border:1px solid #969696;
    margin: 10px;
    border-radius: 10px;
}
.timer{
    text-align: center;
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center
}
.buttons{
    text-align: center
}
.restartCont{
    display: flex;
    justify-content: center;
    margin: 20px;
}
form.progress_form{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #379ba3;
}
form.progress_form input{
    display: none;
}
form.progress_form button{
   margin-left: 10px;
}
footer{
    background: #379ba3;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}
footer p{
    text-align: center;
    margin: 10px;
    width: 100%;
}