<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
        <header>
            <h2>Progect manager</h2>
        </header>
        <div class="main-cont">
            <div class="dashboard">
                <ul>
                    <li><a href="/">projects</a></li>
                    <li><a href="/">tasks</a></li>
                    <li><a href="/">kanbans</a></li>
                </ul>
            </div>
{% block body %} 
    
{% endblock %}

        
</body>

</html>
