{% extends 'base.html' %}
{% block body %}
        <div class="main">
            <section class="projects">
                <h3>Projects</h3>
                <hr>
                <ul>
                   <li>
                       <p class="no">id</p>
                       <p class="name">name</p>
                       <p class="hubs">number of hubs</p>
                       <p class="kanbans">kanbans</p>
                   </li>
                    {% for project in projects%}
                    <li>
                    <!--  -->
                        <p class="no"><a class="project" href="project/{{project.id}}">{{project.id}}</a></p>
                       <p class="name"><a class="project" href="project/{{project.id}}">{{project.name}}</a></p>
                       <p class="hubs"><a class="project" href="project/{{project.id}}"></a></p>
                       <p class="kanbans">
                            <a href="/projectDelete/{{project.id}}" class="btn btn-danger btn-sm">delete</a>
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                <form method='post' action="/addProject">
                    <input type="text" name="name">
                    <button class='btn btn-primary' type='submit'>+ add</button>
                </form>

            </section>
        </div>
    </div>

{% endblock %}
