<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
       <div class="main-cont">
        <header>
            <h2>yene boss</h2>
        </header>
        <section class="projects container">
            <h3>tasks</h3>
            <ul>
                {% for task in tasks%}
                <li>
                    <p>name: <a class="task" href="task/{{task.id}}">{{task.name}}</a></p>
                    <div>
                        <a href="/projectDelete/" class="btn btn-danger btn-sm">delete</a>
                        <a href="/projectDelete/" class="btn btn-primary">edit</a>
                    </div>
                </li>
                <hr>
                {% endfor %}
            </ul>
            <form method='post' action="/addTask">
              <h3>add task</h3>
               <div>
                   <label for="name">name</label>
                <input type="text" name="name" id="name" required>
               </div>
                <div>
                    <label for="name">time range</label>
                <input type="text" name="t_range" id="t_range" required>
                </div>
                <div>
                    <label for="content">contenet</label>
                <textarea name="content" id="content" cols="20" rows="4" required></textarea>
                </div>
                
                <button class='btn btn-primary' type='submit'>+ add</button>
            </form>

        </section>
        <footer>
            <p>developed by kirubel </p>
        </footer>
    </div>
    <script src="../static/lib/jquery/jquery.min.js">
    </script>
    <script src="../static/js/main.js"></script>

</body>

</html>
