{% extends 'base.html' %}
{% block body %}
<div class="main">
    <h3>kanban bord</h3>
    <div class="main">
        <ul class="kanbanCont">
            {% for kanban in kanbans %}
            <li class="kanban">

                <h3 draggable="true">{{ kanban.name }}</h3>
                <form action="/addTask/{{kanban.id}}" method="post">
                    <input name='taskName' type="text">
                    <button class="btn btn-success ">+ Task</button>
                </form>
                {% for task in kanban.tasks %}
                <div draggable="true" class="task">{{ task.content }}</div>
                {% endfor %}

            </li>
            {% endfor %}
        </ul>
        <div class="addkanban">
            <form action="/addKanban" method="post">
                <input type="text" name="kanbanName">
                <button class="btn btn-primary kanbanAdder">+ Kanban</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
