{% extends "base.html"%}

{% block style%}
<link href="../static/css/style-pro.css" rel="stylesheet" type="text/css">
{% endblock%}
{% block body%}
	<div class="container">
		<div class="project">
			<div class="project-title">
				<h4 class="title">project name</h4>
				<p>{{ p.p_name }}</p>
				<hr>
			</div>
			<div class="project-des">
				<h4 class="des">discripton:</h4>
				<p>{{ p.descripton }}</p>
			</div>
		</div>
		<div class="todo">
			<ul class="project-table">
			{% for task in p.tasks %}
				<li class="task">task</li>
				<li class="des">discripton</li>
				<li class="task">{{ task.task }}</li>
				<li class="des">{{ task.des }}</li>
			{% endfor %}	
			</ul>
		
				
				
				
			<form class="add-task" action="/project"  method="post">
				<div class="list">
					<label for="task"><i class="fa fa-plus"></i>task</label>
					<input name='task' class='form' type="text" id="task" placeholder='your project name'/>
				</div>
				<div class="list">
					<label for="des">description</label>
					 <textarea name='des' class='form'type="textarea" row=3 id="des" placeholder="what is the main purpose of the porject"></textarea>
				</div>
				<button type="submit" class="btn btn-primary"> create task </button>
			</form>
		</div>
	</div>


{% endblock %}