{% extends 'base.html' %}
{% block body %}
<div class="main">
    <h3>project name : {{project}}</h3>
    <hr>
    <h4>task hubs</h4>
    <ul>
        <li>
            <p class="no">id</p>
            <p class="name">name</p>
            <p class="delete">delete</p>
        </li>
        {% for task in project.hubs%}
        <li>

            <p class="no"><a href="/taskHub/{{task.id}}">{{ task.id }}</a></p>
            <p class="name"><a href="/taskHub/{{task.id}}">{{ task.name }}</a></a></p>
            <p class="delete">
                <a href="/hubDelete/{{task.id}}" class="btn btn-danger btn-sm">delete</a>
            </p>
        </li>
        {% endfor %}
    </ul>

    <form method='post' action="/addhub/{{project.id}}">
        <input type="text" name="name">
        <button class='btn btn-primary' type='submit'>+ add</button>
    </form>
    
    <hr>
    <h3>kanbans</h3>
    <hr>
       <ul>
       <li>
            <p class="no">id</p>
            <p class="name">name</p>
            <p class="delete">delete</p>
        </li>
        {% for kanban in project.kanbans%}
        <li>

            <p class="no"><a href="/kanban/{{project.id}}">{{ kanban.id }}</a></p>
            <p class="name"><a href="/kanban/{{project.id}}">{{ kanban.name }}</a></a></p>
            <p class="delete">
                <a href="/hubDelete/{{project.id}}" class="btn btn-danger btn-sm">delete</a>
            </p>
        </li>
        
        
        {% endfor %}
    </ul>
    <form method='post' action="/addKanban/{{project.id}}">
        <input type="text" name="kanbanName">
        <button class='btn btn-primary' type='submit'>+ add</button>
    </form>
</div>
{% endblock %}
