<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style_index.css">
</head>

<body>
    <div class="container">
        <header>
            <h2>Progect manager</h2>
        </header>
        <div class="main-cont">
            <div class="dashboard">
                <ul>
                    <li><a href="">rojects</a></li>
                    <li><a href="">rojects</a></li>
                    <li><a href="">rojects</a></li>
                </ul>
            </div>
            <div class="main">
            <h1>{{project}}</h1>
            <hr>
            <br>
            <ul>
                <h2>eked hubs</h2>
                {% for eked in project.hubs%}
                <li><a href="/ekeds/{{eked.id}}">{{ eked.name }}</a></li>
                 <div>
                        <a href="/hubDelete/{{project.id}}" class="btn btn-danger btn-sm">delete</a>
                    </div>
                {% endfor %}
            </ul>
            <form method='post' action="/addhub/{{project.id}}">
                <input type="text" name="name">
                <button class='btn btn-primary' type='submit'>+ add</button>
            </form>
            <ul>
                <h2>kanbans</h2>
                {% for kanban in project.kanbans%}
                <li><a href="/kanban/{{project.id}}">{{ kanban.name }}</a></li>
                 <div>
                        <a href="/projectDelete/{{project.id}}" class="btn btn-danger btn-sm">delete</a>
                    </div>
                {% endfor %}
            </ul>
            <form method='post' action="/addKanban/{{project.id}}">
                <input type="text" name="kanbanName">
                <button class='btn btn-primary' type='submit'>+ add</button>
            </form>
        </div>
        </div>
        


        <script src="../static/lib/jquery/jquery.min.js">
        </script>
        <script src="../static/js/main.js"></script>

</body>

</html>
