{% extends 'base.html' %}
{% block body %}
<div class="main">
    <h3>task details</h3>
    <hr>
    <div class="task">
        <p>task : {{task.name}}</p>
        <p>range : {{task.t_range}} min</p>
        <p>progress : {{task.progress}} min</p>
        <p>status : {{task.status}}</p>
        <p>content : "{{task.content}}"</p>
    </div>
    <form action="/progress/{{task.id}}" method='post' class='progress_form'>
        <input type="number" class="form_input" value='1' name="time">
        <p>save you progress <button type="submit" class="btn  btn-success btn-sm">save</button></p>
    </form>
    <hr>
    <div class="timer_cont">
        <div class='timer'>
            <div class="min">00</div>min: <div class="sec">00</div>sec
        </div>

        <div class="buttons">
            <span class="btn btn-success btn-sm">start</span>
            <span class="btn btn-danger btn-sm">stop</span>
        </div>
        <div class="restartCont">
            <span class="restart btn btn-primary btn-sm">restart</span>
        </div>
    </div>
    <hr>
</div>


{% endblock %}
