{% extends 'base.html' %}
{% block body %}
<div class="main">
    <div class="taskhub-header">
        <h3>tasks</h3>
        <div class="search">
            <input type="text" class="taskName">
            <i class="fa fa-search"></i><i>search</i>
        </div>
    </div>
    <div class="tasks">
        <form method='post' action='/saveTask/{{id}}'>
            <ul>
                <li>
                    <p class="no">id</p>
                    <p class="name">name</p>
                    <p class="range">range</p>
                    <p class="pro">progress</p>
                    <p class="content">content</p>
                    <p class="status">status</p>
                    <p class="delete">delete</p>
                </li>
                {% for task in tasks%}
                <li class='{% if task.status == True %} success{% endif %}'>
                    <p class="no">{{ task.id }}</p>
                    <p class="name "><a href="/task/{{task.id}}" class="{{ task.day }}">{{ task.name }}</a></p>
                    <p class="range">{{ task.t_range }} min</p>
                    <p class="pro">{{ task.progress }} min</p>
                    <p class="content">{{ task.content }} {{task.day}}</p>
                    <p class="status">{{ task.status }}</p>
                    <p class="delete">
                        <a href="/deleteTask/{{task.id}}" class="btn btn-danger btn-sm">delete</a>
                    </p>
                </li>
                {% endfor %}

            </ul>
            <div>
                <button class="btn btn-primary" type='submit'> save </button>
            </div>
        </form>
    </div>

    <div class="addTask">
        <h2>add task +</h2>
        <form method='post' action='/addTask/{{id}}'>
            <div>
                <label for="name">name</label>
                <input id='name' type="text" name='name' class="taskName">
            </div>
            <div>
                <label for="t_range">time</label>
                <input id='t_range' type="number" name='t_range' class="taskName">
            </div>
            <div>
                <label for="t_range">day</label>
                <select name="day" id="day">
                    <option value="mon">mon</option>
                    <option value="tue">tue</option>
                    <option value="wed">wed</option>
                    <option value="thu">thu</option>
                    <option value="fri">fri</option>
                    <option value="sat">sat</option>
                    <option value="sun">sun</option>
                </select>
            </div>
            <div>
                <label for="content">content</label>
                <textarea name="content" id="content" rows="4"></textarea>
            </div>
            <div>
                <button type='submit' class="btn btn-success">add</button>
            </div>
        </form>
    </div>
    <div class="time-table">
        <div class="time-tabel-cont">
            <div class="mon">
                <p class="day">monday</p>
                <div class="tasks">

                </div>
            </div>
            <div class="tue">
                <p class="day">tuesday</p>
                <div class="tasks">

                </div>
            </div>
            <div class="wed">
                <p class="day">wednesday</p>
                <div class="tasks">

                </div>
            </div>
            <div class="thu">
                <p class="day">thursday</p>
                <div class="tasks">


                </div>
            </div>
            <div class="fri">
                <p class="day">friday</p>
                <div class="tasks">

                </div>
            </div>
            <div class="sat">
                <p class="day">saturday</p>
                <div class="tasks">


                </div>
            </div>
            <div class="sun">
                <p class="day">sunday</p>
                <div class="tasks">

                </div>
            </div>
        </div>
    </div>
</div>



<script src="../static/lib/jquery/jquery.min.js">
</script>
<script src="../static/js/main.js"></script>

{% endblock %}
